@import "node_modules/bootstrap/scss/functions";
@import "variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional

@import "node_modules/bootstrap/scss/breadcrumb";

@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/custom-forms";
//@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/print";
@import "node_modules/bootstrap/scss/progress";
//@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/buttons";

@import "node_modules/font-awesome/scss/font-awesome";

* {
	line-height: 24px;
	color: #232323;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	height: 100vh;
	display: flex;
	overflow-y: scroll;
}

body {
	min-height: 100%;
	flex:1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	font-weight: 700;
	margin: 0;
}

img {
	max-width: 100%;
	border-radius: 8px;
}

input,
select,
textarea {
	font-size: 16px;
	border: 3px solid #232323;
	border-radius: 8px;
	padding: 8px 15px;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
}

input + .btn {
	margin-bottom: 0;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
	color: #232323;
	font-weight: 400;
	opacity: 0.5;
}

input[type='checkbox'],
input[type='radio'] {
    width: 25px;
    height: 25px;
	cursor: pointer;
	vertical-align: top;
}

input[type='checkbox']:before,
input[type='radio']:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
}

input[type='checkbox']:before {
    background: url("../images/controls/checkbox.svg");
}

input[type='radio']:before {
    background: url("../images/controls/radio.svg");
}

input[type='checkbox']:checked:before {
    background: url("../images/controls/checkbox-checked.svg") #fff;
}

input[type='radio']:checked:before {
    background: url("../images/controls/radio-checked.svg") #fff;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
    display: inline-block;
    line-height: 25px;
    font-size: 20px;
	vertical-align: top;
	padding-bottom: 0;
    padding-left: 20px;
}

input[type=number] {
	position: relative;
}

input[type=number]::-webkit-inner-spin-button {
	appearance: none;
	position: absolute;
	width: 20px;
	height: 40px;
	top: 0;
	right: 5px;
	background: url("../images/controls/chevron-up-down.svg") no-repeat;
	background-position: 85%;
	cursor: pointer;
}

select {
	appearance: none;
	background: url("../images/controls/chevron-down.svg") no-repeat;
	background-position: 95%;
    background-size: 20px;
}

label {
	display: block;
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
}

a:hover {
	font-weight: 700;
}

.full-img {
	width: 100%;
}

.btn {
	color: #fff;
	background: #232323;
	border: 3px solid #232323;
	border-radius: 8px;
	font-weight: bold;
	padding: 7.5px 15px;
}

.btn-secondary {
	color: #232323;
	background: #fff;
	border: 3px solid #232323;
	border-radius: 8px;
	font-weight: bold;
	padding: 7.5px 15px;
}

.btn-secondary:hover {
	color: #fff;
	background: #232323;
	border: 3px solid #232323;
}

.btn-icon {
	display: inline-block;
	color: #232323;
	font-size: 30px;
	text-decoration: none;
	padding: 10px;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.btn-icon i {
	color: #232323;
}

.btn-icon:hover {
	color: #000;
	background-color: #fdfdfd;
}

.btn-icon:hover i {
	color: #000;
	background-color: #fdfdfd;
}

.header {
	width: 100%;
	padding-bottom: 20px;
}

.text-container {
	display: inline-block;
	color: #fff;
	background: #5A3B35;
	border-radius: 8px;
	padding: 20px;
}

.bg-info {
	background: #5A3B35;
	border-radius: 8px;
	padding: 20px;
}

.section-tiny {
	margin-bottom: 10px;
}

.section-tiny:last-child {
	margin-bottom: 0;
}

.section-tiny label {
	padding-bottom: 5px;
}

.section-small {
	margin-bottom: 20px;
}

.section {
	margin-bottom: 35px;
}

.form-section {
    padding-bottom: 50px;
}

.fa,
.fas,
.fab { 
	font-family:'FontAwesome';
	font-size: 24px;
	font-weight: 400;
	text-decoration:none;
	font-style: normal;
}

/* --- Bootstrap changes --- */
.container {
	padding-top: 80px;
}

.container-non {
	padding-top: 0;
}

@media screen and (min-width: 1615px) {
	.col-xl-5th {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

/*============================================
					Menu
============================================*/
.menu {
	position: fixed;
	width: 100%;
	height: 95px;
	background: #fff;
	box-shadow: 0 3px 6px rgba(35, 35, 35, 0.16);
	z-index: 999;
	top: 0;
	left: 0;
	* {
		line-height: unset;
	}
}

.menu + div {
	margin-top: 95px;
}

.menu .container {
	position: relative;
	padding-top: 0;
}

.menu-logo {
	display: inline-block;
	width: 182px;
	height: 75px;
	padding-right: 25px;
	margin-top: 10px;
}

.menu-logo img {
	height: 100%;
}

.menu ul {
	display: flex;
	align-items: center;
	line-height: 75px;
}

.menu-links {
	width: calc(100% - 182px);
	display: flex;
	justify-content: space-between;
}

.menu-link {
	display: inline-block;
	color: #232323;
	font-size: 24px;
	font-weight: 700;
}

.menu-link a {
	display: inline-block;
	line-height: 95px;
	text-decoration: none;
	padding: 0 25px;
}

.menu-link a:hover,
.menu-link a:hover .fas {
	color: #fff;
	background: #232323;
}

.menu-icons .menu-link {
	font-weight: 400;
}

.menu-icons .menu-link a {
	padding: 0 15px;
}

.menu-mobile {
	display: none;
}

/* --- Menu search --- */
.menu-search {
	display: inline-block;
	width: 0;
	height: 95px;
	line-height: 95px;
	overflow: hidden;
	vertical-align: top;
	transition: 0.5s linear; 
    margin-right: -57px;
}

#menu-search {
	line-height: 80px;
}

.menu-search input {
	display: inline-block;
	width: calc(100% - 45px);
	padding: 8px 50px 8px 8px;
	line-height: 28px;
}

.menu-search-close {
	display: inline-block;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 8px;
	margin-right: 5px;
}

.menu-search-close:hover {
	color: #fff;
	background: #232323;
	border-radius: 8px;
}

.menu-search-open {
	width: 220px;
}

.menu-search-open + .menu-link a {
	line-height: 44px;
	border-radius: 8px;
}

/* --- Login --- */
.login-popup {
	position: absolute;
	display: none;
	background: #fff;
	border: 3px solid #5A3B35;
	border-radius: 8px;
	padding: 20px;
	top: 95px;
	right: 0;
}

.login-popup-open {
	display: inline-block;
}

.login-popup input {
	width: 275px;
}

@media screen and (max-width: 992px) {
	.menu-mobile {
		display: inline-block;
	}

	.menu-mobile .fas {
		line-height: 95px;
		font-size: 30px;
		cursor: pointer;
	}

	.menu-logo {
		text-align: center;
		padding: 0;
		margin: 10px auto;
	}

	.menu ul {
		display: block;
	}

	.menu-links {
		position: fixed;
		width: 250px;
		height: 100vh;
		background: #fff;
		transition: 0.3s ease-in-out;
		top: 95px;
		left: -250px;
		padding: 20px 0;
	}

	.menu-links.menu-open {
		left: 0;
	}

	.menu-link {
		display: block;
		text-align: left;
	}

	.menu-link a,
	.menu-icons .menu-link a {
		display: inline-block;
		width: 100%;
		line-height: 1.5;
		padding: 10px 20px;
	}

	.menu-icons {
		float: none;
	}

	.menu-search {
		line-height: 56px;
		height: 56px;
		margin-right: 0;
		margin-left: 10px;
	}

	.menu-search input {
		padding: 8px 35px 8px 8px; 
	}

	.menu-search-open {
		width: calc(100% - 40px);
		margin-right: -44px;
	}

	.menu-search + .menu-link {
		display: inline-block;
		vertical-align: super;
	}

	.menu-search + .menu-link a {
		padding: 0;
	}

	.menu-search + .menu-link .fas {
		display: inline-block;
		width: 40px;
		text-align: center;
		border-radius: 8px;
		padding: 8px;
	}

	.menu-search + .menu-link + .menu-link {
		margin-top: -20px;
	}

	.login-popup {
		transform: translateX(-50%);
		right: auto;
		left: 50%;
	}
}

/*============================================
					Homepage
============================================*/
/* --- Banner --- */
.banner {
	height: 345px;
	background: url("/images/banner.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

/* --- Products --- */
.product {
	text-align: center;
	border: 3px solid #5A3B35;
	border-radius: 8px;
	margin-bottom: 20px;
}

.product-title {
	display: flex;
    justify-content: center;
    align-items: center;
	background: #5A3B35;
	height: 60px;
	padding: 5px;
}

.product-title b {
	color: #fff;
}

.product-image {
	width: 100%;
	height: 170px;
	background: #fff;
}

.product-image img {
	width: 300px;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}

.product-bottom {
	background: #fff;
	border-radius: 0 0 8px 8px;
	padding: 0 20px 20px;
}

.product-price {
	padding: 20px;
}

/*============================================
					about us
============================================*/
.aboutusimage5,
.aboutusimage4 {
	border-radius: 8px;
}

.aboutusdescription {
	height: 300px;
}

.aboutusimage5 img, 
.aboutusimage4 img{
	object-fit: cover;
	height: 300px;
	width: 100%;
}  

/*============================================
					contact
============================================*/
.messagesent{
	color:#5A3B35;
	text-align:center;
}

.errormessage {
	color: #ff0000;
	font-weight: bold;
}

.contactinputbox-s,
.contactinputbox-m,
.contactinputbox-l,
.contactinputbox-xl,
.contactinputbox {
	display: inline-block;
	margin-bottom: 20px;
}

.registrationblock {
	width:100%;
}

.i-contacttext,
.i-contactmessage {
	background-color: #ff7b7b;
}

.contacttext,
.contactmessage,
.contactsend,
.i-contacttext,
.i-contactmessage {
	width: 100%;
}

.contacttext,
.contactsend,
.i-contacttext {
	height: 40px;
}

.contactmessage,
.i-contactmessage {
	height: 220px;
}

.contactinputbox-s {
	width: 20%;
} 

.contactinputbox-m {
	width: 30%;
}

.contact-information {
	background: #5A3B35;
	border-radius: 8px;
	padding: 20px;
}

.contact-information label,
.contact-information a,
.contact-information p {
	color: #fff;
}

/*============================================
				registration
============================================*/

.registrationinputbox-s,
.registrationinputbox-m,
.registrationinputbox-l,
.registrationinputbox-xl,
.registrationsend,
.registrationblock{
	display: inline-block;
}

.registrationinputbox-s, .registrationinputbox-m, .registrationinputbox-l, .registrationinputbox-xl, .registrationsend{
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;
}

.registrationblock{
	width:100%;
}

.i-registrationtext{
	background-color: #ff7b7b;
}

.registrationtext,
.registrationsend,
.i-registrationtext{
	width: 100%;
}

.registrationinputbox-s{
	width: 20%;
} 

.registrationinputbox-m{
	width: 30%;
} 

.registrationinputbox-l{
	width: 50%;
} 

.registrationinputbox-xl{
	width: 75%;
}

.Loginsend,
.registrationsend{
	border-radius: 8px;
	color:#ffffff;	
	background-color:#5A3B35;
	height: 40px;
	font-weight: bold;
	font-size: 15px;
}

.Loginsend:hover,
.registrationsend:hover{
		background-color: #36221e;
}

.Loginsend{
	width: 100%;
}

.logintext{
	border: 4px solid #5A3B35;
	border-radius: 8px;	
	width: 100%;
}

.loginbox{
	border: 4px solid #5A3B35;
	border-radius: 8px;	
	padding: 10%;
}

/*============================================
					profiel
============================================*/

#profile {
	a:hover {
		background-color: #000;
		h5 {
			color: white;
		}
	}
	.grid {
		display:grid;
		grid-template-columns: 200px 200px;
		grid-row: auto auto;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
}

.btn-menu .btn {
	background: #fff;
	border: 3px solid #fff;
	margin-bottom: 20px;
}

.btn-menu .btn-info {
	background: #5A3B35;
}

.deliver-address {
	border: 3px solid #5A3B35;
	border-radius: 8px;
	padding: 20px;
}

.order {
	border: 3px solid #5A3B35;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
}

.order:last-child {
	margin-bottom: 0;
}

/*============================================
			Producten (zoekresultaten)
============================================*/

.filterslider{
	width: 100%;
	max-width: 100%;
}

.filterslidervalue{
	text-align: left;
	font-weight: bold;
}

.filterbutton{
	background-color: #5A3B35;
	width: 100%;
	height: 50px;
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	border-radius: 8px;
}

.filterbutton:hover{
	background-color: #36221e;
}

/* --- Dropdown --- */
.filterdropdown {
	color: #444;
	font-size: 15px;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.filterdropdown::-ms-expand {
	display: none;
}

.filterdropdown:hover {
	border-color: #888;
}

.filterdropdown:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.filterdropdown option {
	font-weight:normal;
}

.filtersearch {
	box-shadow: 0 1px 0 1px rgba(0,0,0,0.04);
	border: 1px solid #aaa;
}

.smallImages:hover {
	border-color: #f9812A!important;
	cursor: pointer;
}

/* --- Product detail --- */
.product-container .product {
	text-align: left;
	padding: 20px;
}

.product-container .product .cost {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 45px);
}

.product-container .product .btn {
	width: calc(100% - 45px);
	vertical-align: top;
}

.product-information .title {
	width: 100%;
	background: #5A3B35;
	border-radius: 8px;
	padding: 20px;
}

.product-image-big {
	height: 50vh;
	text-align: center;
	border: 3px solid #5A3B35;
	border-radius: 8px;
	#bigImage {
		width: auto;
		height: 100%;
	}
}

.product-image-small {
	text-align: center;
	border: 3px solid #5A3B35;
	border-radius: 8px;
	margin-top: 20px;
}

.product-image-small:hover {
	cursor: pointer;
	border: 3px solid #f9812A;
}

.product-image-small img {
	width: 100%;
	height: 200px;
	object-fit: contain;
}

/*============================================
					Winkelwagen
============================================*/
.cart-product.product {
	text-align: left;
	padding: 20px;
}

.cart-price b,
.cart-price p {
	display:inline-block;
}

.cart-price .divider-top {
	border-top: 3px solid #fff;
	padding: 20px 20px 0;
	margin: 0 -20px;
}

/*============================================
					notification
============================================*/

#notification {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;
	opacity: 0;
	transition: 500ms;

	h6 {
		display: inline-block;
		margin: auto;
		padding: 40px;
		background-color: #fff;
		margin: auto;
		color: #000;
		border-radius: 8px;
		border: 3px solid #000;
	}
}

.show {
	transition: 300ms;
	opacity: 1!important;
}

/*============================================
					about us
============================================*/
.aboutusimage5,
.aboutusimage4 {
	border-radius: 8px;
}

.aboutusdescription {
	height: 300px;
}

.aboutusimage5 img, 
.aboutusimage4 img {
	object-fit: cover;
	height: 300px;
	width: 100%;
}

/*============================================
					bestellen
============================================*/

#deliverAdressForm {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.25);
	justify-content: center;
	align-items: center;
	> div {
		background-color: #fff;
		min-width: 50vw;
		max-width: 100vw;
		border-radius: 8px;
		form {
			cursor: pointer;
		}
	}
}

.showForm {
	display: flex!important;
}

.cadeau-cost {
    display: inline-block;
    line-height: 25px;
    font-size: 20px;
    vertical-align: top;
	padding-left: 20px;
}

/*============================================
					Footer
============================================*/
.footer {
	background: rgb(35, 35, 35);
	height: 178px;
	position: sticky;
	top: calc(100% - 178px);
	padding: 20px 0;
}

.footer-logo {
	color: white;
	width: 200px;
	height: 138px;
}

.footer-links {
	transform:translateY(-50%);
	top: 50%;
	position: relative;
}

.footer-links a {
	color: white;
	font-size: 18px;
	padding: 10px 0;
	display: inline-block;
}

.footer-links li:first-child a {
	padding: 0 0 10px 0;
}

.footer-links li:last-child a {
	padding: 10px 0 0 0;
}

.footer-newsletter {
	color: white;
	margin-top: 24.25px;
}

.footer-newsletter h4 {
	color: white;
	text-align: center;
	margin-bottom: 20px;
}

.footer-newsletter .newsletter-input {
	width: calc(99% - 243px);
	border: none;
	height: 42px;
	margin: 0 20px 0 0;
}

.footer-newsletter .newsletter-submit {
	border: 2px solid white;
	background-color: transparent;
	color: white;
	padding: 7px 55px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
	cursor: pointer;
}

.footer-contact {
	transform:translateY(-50%);
	top: 50%;
	position: relative;
}

.footer-contact a {
	color: white;
	line-height: 1.5;
	display: block;
	text-align: right;
	padding: 10px 0;
	font-size: 18px;
}
